.box {
  font-family: 'Press Start 2P', cursive;
  border-radius: 2px;
  padding: 8px;
  line-height: 25px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}
.box > i {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top-color: black;
  margin-top: 23px;
  animation: bounce 0.5s ease-in-out 0 infinite alternate;
  float: right;
}

.header {
  font-family: 'Press Start 2P', cursive;
}

.homeStuff {
  margin-top: 3em;
}

.homeText {
  margin-top: 8em;
}
