.box {
  font-family: 'Press Start 2P', cursive;
  border-radius: 2px;
  padding: 8px;
  line-height: 25px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 1px 0 1px black,
              inset 0 1px 0 1px black,
              0 0 0 1px black,
              inset 0 0 0 1px black;
}

.header {
  font-family: 'Press Start 2P', cursive;
}

.homeStuff {
  margin-top: 3em;
}

.homeText {
  margin-top: 8em;
}
